:root {
    --nc-blue: #1d4698;
    --nc-darkblue: #173676;
    --nc-navyblue: #0b1a39;
    --nc-yellow: #fef600;
    --nc-gold: #fbd100;
    --nc-orange: #f9a801;
}

.ncblue {
    background-color: var(--nc-blue)
}

.ncdarkblue {
    background-color: var(--nc-darkblue)
}

.ncgold {
    background-color: var(--nc-gold)
}

.fillgold {
    fill: #9B8F79;
}

.ncorange {
    background-color: var(--nc-orange)
}

section {
    padding-bottom: 7rem;
    padding-top: 7rem;
}

h1, h2 {
    margin-bottom: 2.5rem;
}

.footer {
    background-color: var(--nc-navyblue);
    height: 200px;
}

.title {
    display: inline;
    font-size: 500;
}

.navbar.scrolled {
    /* display: block;
    transition: display 500ms; */
}

.metrics {
    position:relative;
    display:inline-block;
}

.overlay .jumbotron#carousel1 {
    position:absolute;
    top:20%;
    left:10%;
    color:#fff;
    width: 35rem;
    background-color: var(--nc-darkblue);
}

.overlay .jumbotron#carousel2 {
    position:absolute;
    top:60%;
    left:20%;
    color:#fff;
    width: 35rem;
    background-color: var(--nc-darkblue);
}

.overlay .jumbotron#carousel3 {
    position:absolute;
    top:35%;
    left:60%;
    color:#fff;
    width: 35rem;
    background-color: var(--nc-darkblue);
}

.overlay .jumbotron {
    position:absolute;
    top:25%;
    left:25%;
    color:#fff;
    background-color: var(--nc-darkblue);
}