:root {
  /* New Conglomerate (nc) Colors */
  --nc-blue-light: #1d4698;
  --nc-blue-medium: #173676;
  --nc-blue-dark: #0b1a39;
  --nc-yellow-light: #fef600;
  --nc-yellow-medium: #fbd100;
  --nc-yellow-dark: #f9a801;
  --nc-gray-light: #d3d3d3;
  --nc-gray-medium: #7a7a7a;
  --nc-gray-dark: #494949;
  /* Terran Republic (tr) Colors */
  --tr-brown-light: #5e5a57;
  --tr-brown-medium: #494542;
  --tr-brown-dark: #252120;
  --tr-red-light: #b90d01;
  --tr-red-medium: #961100;
  --tr-red-dark: #800000;
  --tr-gray-light: #d3d3d3;
  --tr-gray-medium: #7a7a7a;
  --tr-gray-dark: #494949;
  --tr-black: #000000;
  /* Vanu Sovereignty (vs) Colors */
  --vs-purple-light: #612597;
  --vs-purple-medium: #461580;
  --vs-purple-dark: #180350;
  --vs-green-light: #20a0a1;
  --vs-green-medium: #008081;
  --vs-green-dark: #018a5c;
  --vs-gray-light: #9b9ba3;
  --vs-gray-medium: #4d4f5e;
  --vs-gray-dark: #262837;
  --vs-black: #000000;
}

body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

header {
  grid-area: header;
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: (10, repeat 10%);
}

footer {
  grid-area: footer;
}
