<% include ./partials/header %>

<!--<img class="ui fluid image background" src="/images/background.png">-->
<div class="pusher">
  <div class="ui vertical stripe very padded segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">What is the Auraxis Network?</h3>
          <p>This is a project to build a <em>lore friendly</em> home on the internet for PlanetSide 2 gamers wanting to stay connected.  It's an experiment that hopes to grow the community, build more lore-centric play, and encourage you to invest in the story behind PlanetSide 2.  When you use this site, we assume you are a citizen of Auraxis, connecting to the worldnet.</p>
          <h3 class="ui header">What's the most fun you've had in PlanetSide2?</h3>
          <p>PlanetSide 2 has a problem.  The game's only meaning comes from unlocking new abilities, buying weapons, padding statistics, and mastering gameplay.  The most fun time I ever had in PlanetSide 2 was following around a Terran Republic 'commander' who was yelling over proximity chat, <em>as if he were actually in the game</em>, really fighting for the soul of Auraxis.</p>
        </div>
        <div class="eight wide right floated column">
          <img src="https://images.unsplash.com/photo-1529387814771-bd36b10c01ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b4ab9b7667cbcc6551523886d225f33&auto=format&fit=crop&w=2035&q=80" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui inverted vertical masthead center aligned very padded segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Auraxis Network
      </h1>
      <h2>Home of the planetside worldnet</h2>
      <a class="ui huge button" href="/connect">Interface Now <i class="right arrow icon"></i></a>
    </div>
  </div>

  <div class="ui vertical stripe quote very padded segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"To survive these trying times, our fragile Republic must stay connected."</h3>
          <p>
            <i class="user circle icon"></i><b>Thomas Connery</b>, Mission Commander
          </p>
        </div>
        <div class="column">
          <h3>"If we want peace on Auraxis, then the planet needs a global uplink: a worldnet."</h3>
          <p>
            <i class="user circle icon"></i><b>Henry Briggs</b>, Xenobiologist
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe very padded segment">
    <div class="ui text container">
      <h3 class="ui header">Interlink</h3>
      <p>The Interlink is a place to collect ideas for new services on the Auraxis Network.  You can interface with the network to cast your vote and determine what will be built next.  We encourage you to register your citizen ID on the network in order to interface.</p>
      <a class="ui large button" href="/ideas">Explore the Interlink</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Active Services</a>
      </h4>
      <h3 class="ui header">Bases</h3>
      <p>Bases allow you to rate your favorite bases on Auraxis, discover new ones, reference statistics, verify their status, and upload your own images to share with the community.</p>
      <a class="ui large button" href="/bases">Explore Bases</a>
      <h3 class="ui header">Feeds</h3>
      <p>Feeds give you the chance to tune into the lives of ordinary, every day citizens of Auraxis as they experience the war.  You can create your own feed to publish your story.</p>
      <a class="ui large button" href="/feeds">Read Feeds</a>
    </div>
  </div>

<% include ./partials/footer %>