<% include ./partials/header %>

<!--<img class="ui fluid image background" src="/images/background.png">-->
<div class="background">
    <div class="ui container">
        <h1>Index</h1>
    </div>
</div>


<% include ./partials/footer %>