<% include ../partials/header %>

<!--<img class="ui fluid image background" src="/images/background.png">-->
<div class="ui container">
  <div class="ui divided items">
    <div class="item">
      <div class="image">
        <img src="/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">My Neighbor Totoro</a>
        <div class="meta">
          <span class="cinema">IFC Cinema</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            Buy tickets
            <i class="right chevron icon"></i>
          </div>
          <div class="ui label">Limited</div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>