<% include ../partials/header %>

  <div class="ui vertical stripe very padded segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">What is the Interlink?</h3>
          <p>This is our idea tracker.  You can propose new ideas for Auraxis Network here.  The highest voted idea will be implemented first.  The Interlink Facility is also one of the in-game connections to this lore forward site.  You are only reaching this website, because it is being broadcast from an Interlink on Hossin.</p>
          <h3 class="ui header">Why go through all this trouble?</h3>
          <p>I am in the process of learning how to code, and having a passion project like this one is something that has already helped me progress by giving me a real (and fun) project to work on.  Suggest new ideas and I will implement them!</p>
          <a class="ui button" href="/ideas/new">Propose an Idea</a>
        </div>
        <div class="eight wide right floated column">
          <img src="https://vignette.wikia.nocookie.net/planetside2/images/f/f1/Interlink_Facility_Top.png/revision/latest/scale-to-width-down/670?cb=20130802004142" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>
  
<div class="background-ideas">
  <% ideas.forEach(function(idea) { %>
    <div class="ui container segment">
      <div class="ui three column grid">
        <div class="two wide column">
          <h1 style="text-align: center; vertical-align: middle; line-height: 3em"><%= idea.score %></h1>
        </div>
        <div class="twelve wide column">
          <h3><%= idea.name %></h3>
          <p><%= idea.description %></p>
          <p>Suggested by <strong><%= idea.author %></strong></p>
        </div>
        <div class="two wide column">
          <div class="row">
            <button class="ui green button" style="margin-bottom: 5px"><i class="arrow alternate circle up large outline icon"></i>1</button>
          </div>
          <div class="row">
            <button class="ui red button"><i class="arrow alternate circle down large outline icon"></i>1</button>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
<% include ../partials/footer %>