    
    
</div>

    <div class="ui inverted vertical footer very padded segment" id="footer">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Why Auraxis Network?</a>
                        <a href="http://www.housevrys.com/" class="item">Powered by House Vrys <i class="rocket icon"></i></a>
                        
                    </div>                    
                </div>                
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href="/interlink" class="item">Interlink</a>
                    </div>                    
                </div>                
                <div class="three wide column">
                    <h4 class="ui inverted header">In Development</h4>
                    <div class="ui inverted link list">
                        <a href="/bases" class="item">Bases</a>
                        <a href="/ideas" class="item">Ideas</a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
  </body>
</html>